####################################
# IGNORE EVERYTHING
####################################
*

####################################
# ALLOW SRC (ALL CONTENT)
####################################
!src/
!src/**
!src/***
